data/
log/

__pycache__/
.idea/

wandb/

# "distilbert-base-uncased-finetuned-imdb/"
# test-trainer/

log.txt

jup_res.ipynb
wandb/debug-cli.hokarami.log

local/

saved_models/
distilbert-base-uncased-finetuned-imdb/
ehr_bert_data/

Hojjat/
hf/